<%- include ('partials/header'); -%>
<div class="row" style="padding-top: 7em;">
    <div class="col-3"></div>
    <div class="col-6">
        <!-- formulario de registro -->
        <p><label for="actualiza" style="font-size: 40px;">Actualice su registro</label></p>
        <form action="/update" method="post" id="actualiza">
            <input type="hidden" value="<%= doc._id%>" name="id" id="id">
            <input type="text" class="form-control" placeholder="Qué aficion" name="nombre" id="nombre"
                value="<%= doc.nombre%>"><br><br>
            <input type="text" class="form-control" placeholder="Describe tu afición" name="descripcion"
                id="descripcion" value="<%= doc.descripcion%>"><br><br>
            <button type="submit" class="btn btn-warning">Actualizar</button>
        </form>
    </div>
    <div class="col-3"></div>
</div>
<%- include ('partials/footer'); -%>