<%- include ('partials/header'); -%>
<div class="row" style="padding-top: 7em;">
    <div class="col-sm">
        <!-- lista de aficiones -->
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
            </tr>
            <% for(var k=0; k<aficiones.length; k++){ %>
            <tr>
                <td><%= aficiones[k].nombre %></td>
                <td><%= aficiones[k].descripcion %></td>
                <td><a href="/edit/<%=aficiones[k]._id%>">Edite</a></td>
                <td><a href="/delete/<%=aficiones[k]._id%>"
                        onClick="if(!confirm('Seguro que desea eliminar el registro?')) return false;">Borre</a>
                </td>
            </tr>
            <%}%>
                </table>
            </div>
            <div class="col-5">
                <!-- formulario de registro -->
                <p><label for="registro" style="font-size: 30px;">Agregue una aficion a la lista</label></p>
                <form action="/regis" method="post" id="registro">
                    <input type="text" class="form-control" placeholder="Qué aficion" name="nombre" id="nombre"><br><br>
                    <input type="text" class="form-control" placeholder="Describe tu afición" name="descripcion" id="descripcion"><br><br>
                    <button type="submit" class="btn btn-danger">Registrar</button>
                </form>
            </div>
        </div>
<%- include ('partials/footer'); -%>